@model MovieShopMVC.Models.RegisterViewModel
@{ ViewData["Title"] = "Register"; }

<div class="account-page">
    <h1>Register</h1>
    <h2>RegisterModel</h2>
    <hr />
    <form asp-action="Register" method="post" class="account-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label asp-for="Email"></label><input asp-for="Email" class="form-control" /><span asp-validation-for="Email" class="text-danger"></span>
        <label asp-for="Password"></label><input asp-for="Password" class="form-control" /><span asp-validation-for="Password" class="text-danger"></span>
        <label asp-for="FirstName"></label><input asp-for="FirstName" class="form-control" /><span asp-validation-for="FirstName" class="text-danger"></span>
        <label asp-for="LastName"></label><input asp-for="LastName" class="form-control" /><span asp-validation-for="LastName" class="text-danger"></span>
        <label asp-for="DateOfBirth"></label><input asp-for="DateOfBirth" class="form-control" /><span asp-validation-for="DateOfBirth" class="text-danger"></span>
        <button class="btn btn-primary mt-2">Create</button>
    </form>
</div>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }
